{ct_extra_params, "-env ERL_LIBS deps/"}.
{port_env,
    [ {"DRV_CFLAGS", "-fPIC -O2 $ERL_CFLAGS"}
    ]}.
{port_specs, [{"priv/bitarray.so", ["c_src/bitarray_nif.c"]}]}.

{deps, [
 %% For runtime
 %% --
 %% For tests
  {proper, "1.0",
    {git, "https://github.com/manopapad/proper.git", "master"}}]}.
